{% extends "auctions/layout.html" %}

{% block title %} Listings {% endblock %}

{% block body %}

    <div class="listings">
        {% for listing in listings %}
            <div class="listing">
                <div class="img">
                    {% if listing.image %}
                        <img src="{{ listing.image }}" alt="{{ listing.title }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>
                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                <div class="description">
                    <p>{{ listing.description }}</p>
                </div>
                {% if listing.bids.first %}
                    <h2>Current bid: ${{ listing.bids.last.bidded_price }}</h2>
                    <h3>by {{ listing.bids.last.bidder.username }}</h3>
                {% else %}
                    <h2>No bids made</h2>
                    <h3>Price: ${{ listing.price }}</h3>
                    <h4>Created {{ listing.date }}</h4>
                {% endif %}
            </div>
        {% empty %}
            <h2>No active listings</h2>
        {% endfor %}
    </div>

{% endblock %}