{% extends "auctions/layout.html" %}

{% block title %} Listings {% endblock %}

{% block body %}

    <div class="listings">
        {% for listing in listings %}
            <div class="listing">
                <div class="img">
                    {% if listing.image %}
                        <img src="{{ listing.image }}" alt="{{ listing.title }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>
                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                <div class="description">
                    <p>{{ listing.description }}</p>
                </div>
                {% if listing.is_open %}
                    <h2>Current bid: ${{ listing.price }}</h2>
                    <h3>by {{ listing.lister.username }}</h3>
                {% else %}
                    <h2>Winning bid: ${{ listing.price }}</h2>
                    <h3>by {{ listing.lister.username }}</h3>
                {% endif %}
                <h4>Created {{ listing.date }}</h4>
            </div>
        {% endfor %}
    </div>

{% endblock %}