{% extends 'auctions/layout.html' %}

{% block title %} {{ listing.title }} {% endblock %}

{% block body %}

    <div class="listing_full">
        <h1>{{ listing.title }}</h1>
        <div class="img">
            <img src="{{ listing.image }}" alt="No image available">
        </div>
        <p>{{ listing.description }}</p>
        <h2>Starting Price: ${{ listing.price }}</h2>
        {% if not listing.is_open %}
            <h2>Auction Closed</h2>
            {% if current_bidder == user.username %}
                <h2>You won this auction!</h2>
            {% else %}
                {% if current_bidder %}
                    <h2>Winner: {{ current_bidder }}</h2>
                {% else %}
                    <h2>No bids were made</h2>
                {% endif %}
            {% endif %}
        {% else %}
            {% if current_bid %}
                <h2>Current Highest Bid: ${{ current_bid.bidded_price }} made by {{ current_bidder }}</h2>
                {% if user.is_authenticated %}
                    {% if user == listing.lister %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-primary" type="submit" name="close_auction" value="Close Auction">
                        </form>
                    {% else %}
                        {% if message %}
                            <p>Error: {{ message }}</p>
                        {% endif %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <input class="form-control" type="number" name="bid" value="{{ current_bid.bidded_price }}" min="{{ current_bid.bidded_price }}">
                            <input class="btn btn-primary" type="submit" name="place_bid" value="Bid">
                        </form>
                    {% endif %}
                {% endif %}
            {% else %}
                <h2>No bids made</h2>
                {% if user.is_authenticated %}
                    {% if user == listing.lister %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-primary" type="submit" name="close_auction" value="Close Auction">
                        </form>
                    {% else %}
                        {% if message %}
                            <p>Error: {{ message }}</p>
                        {% endif %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <input class="form-control" type="number" name="bid" value="{{ listing.price }}" min="{{ listing.price }}">
                            <input class="btn btn-primary" type="submit" name="place_bid" value="Bid">
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        <p>Listed by: {{ listing.lister.username }}</p>
        <p>Category: {{ category }}</p>
        {% if user.is_authenticated %}
            <div class="watchlist">
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" name="watchlist" value="{{ button_value }}">
                </form>
            </div>
            <div class="comment_section">
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="comment_text" id="comment"></textarea>
                    <input class="btn btn-primary" type="submit" value="Post Comment" name="post_comment">
                </form>
            </div>
        {% endif %}
        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    <p><b>{{ comment.commenter }}</b></p>
                    <p>{{ comment.text }}</p>
                </div>
            {% empty %}
                <p>No comments</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}