{% extends 'auctions/layout.html' %}

{% block title %} Watchlist {% endblock %}

{% block body %}

    <div class="listings">
        {% for listing in watchlist %}
        <div class="listing">
            <div class="img">
                {% if listing.listing.image %}
                    <img src="{{ listing.listing.image }}" alt="{{ listing.listing.title }}">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>
            <a href="{% url 'listing' listing.listing.id %}">{{ listing.listing.title }}</a>
            <div class="description">
                <p>{{ listing.listing.description }}</p>
            </div>
            {% if listing.listing.is_open %}
                {% if listing.listing.bids.first %}
                    <h2>Current bid: ${{ listing.listing.bids.last.bidded_price }}</h2>
                    <h3>by {{ listing.listing.bids.last.bidder }}</h3>
                {% else %}
                    <h2>No bids made</h2>
                    <h3>Price: ${{ listing.listing.price }}</h3>
                    <h4>Created {{ listing.listing.date }}</h4>
                {% endif %}
            {% else %}
                {% if listing.listing.bids.first %}
                    <h2>Winning bid: ${{ listing.listing.bids.last.bidded_price }}</h2>
                    <h3>by {{ listing.listing.bids.last.bidder.username }}</h3>
                {% else %}
                    <h2>Auction Closed</h2>
                    <h3>No bids were made</h3>
                {% endif %}
            {% endif %}
        </div>
            {% empty %}
                <h1>You have no listings in your Watchlist</h1>
        {% endfor %}
    </div>

{% endblock %}